@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

@import url(https://fonts.googleapis.com/css?family=Open+Sans:100);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--mainColor: #004098;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

/* .login{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: var(--mainColor);
}
.login form{
	display: flex;
	flex-direction: column;
	padding: 50px;
	background: #fff;
	width: 200px;
	gap: 20px;

}

.login input{
	padding: 10px;
	border: none;
	border-bottom: 1px solid gray;
}
 */
.login{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
}

.login-bg{
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--mainColor);
}
.login-bg img{
	margin-top: 280px;
	margin-left: 60px;
	/* margin: 0 auto; */
	width:500px
	
}

.login-content{
	display: flex;
	 width: 100%;
	height: 100%; 
	justify-content: center;
	align-items: center;
}

.login-content .form-bx{
	width: 50%;
}
.login-content .form-bx h2{
font-weight: 600;
font-family: 'Poppins', sans-serif;
font-size: 1.5rem;
text-transform: uppercase;
margin-bottom: 20px;
display: inline-block;
letter-spacing: 1px;
}

.input-bx{
	margin-bottom: 20px;
}

.input-bx span{
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	display: inline-block;
	font-weight: 300;
	letter-spacing: 1px;
}
.input-bx input{
	width: 100%;
	padding: 10px 20px;
	font-weight: 400;
	border: 1px solid #607d8b;
	font-size: 16px;
	letter-spacing: 1px;
	color: #607d8b;
	background: transparent;
	border-radius: 30px;
}

.input-bx button{
	background: #083AA9;
	font-family: sans-serif;
	color:#fff;
	border: none;
	border-radius: 20px;
	font-weight: 500;
	cursor: pointer;
	padding: 15px 30px;
	/* margin-left: 0px; */
	width: 30%;
}
.input-bx button:hover{
	background: #293462;
}
.input-bx p span{
	padding: 7px;
	font-size: 12px;
	text-align: center;
}
@media only screen and (max-width: 1024px) {
	.login-bg{
		display: none;
	}
	.input-bx button{
		width: 100%;
	}
}

/*for popup*/

  /*popup ends*/

  

/* Flight */



.available-flight-section{
 max-width:700px;
 margin:25px auto;
 /* background-color:  */
}

.available-flight-section button{
   margin-top: 13px;
   padding: 10px;
   height: 10px;
   border-radius: 10px;
   font-size: 14px;
   cursor: pointer;
 
}

		   /* new flight plan */
.tp-flight-plan {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.2em;
   color: #363c44;
   font-size: 14px;
}
.tp-flight-plan .crop {
   position: relative;
   border: 1px solid #e2e2e2;
   border-radius: 3px;
   background-color: #fff;
   cursor: pointer;
   margin-bottom: 10px;
}


   .tp-flight-plan .crop .itin-det-btn {
	   text-decoration: none;
	   outline: none;
	   position: absolute;
	   right: -10px;
	   top: 25px;
	   font-size: 14px;
	   background-color: #FF5722;
	   color: white;
	   padding: 10px;
	   border-radius: 5px;
	   line-height: normal;
   }



.tp-flight-plan .context {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: stretch;
   padding: 10px;
   /* position: relative; */
   background: var(--mainColor);
   color:#fff;
}

.tp-flight-plan .crop .item {
   margin: 0px;
   display: flex;
   justify-content: center;
}

.tp-flight-plan .crop .trip-type {
   position: absolute;
   left: -5px;
   top: -19px;
   line-height: normal;
   background-color: var(--mainColor);
   border-radius: 3px;
   padding: 5px 10px 0;
   /* color: #FF9800; */
   font-size: 11px;
   width: 85px;
   text-align: center;
}

   .tp-flight-plan .crop .trip-type.return {
	   color: #ec397b;
	   right: 0px;
	   left: unset;
   }

.tp-flight-plan .item.it-1 {
   flex-grow: 5;
   display: flex;
   position: relative;
}

   .tp-flight-plan .item.it-1:before {
	   content: "";
	   position: absolute;
	   width: calc(100% - 30px);
	   height: 2px;
	   /*background-color: #000;*/
	   border-top: dashed 1px #9E9E9E;
	   top: 50%;
	   left: 15px;
	   margin-top: -1px;
   }

.tp-flight-plan .it-1 .port-seg {
   display: flex;
   flex: 3;
   position: relative;
}

   .tp-flight-plan .it-1 .port-seg .flight-seg {
	   flex: 1;
	   text-align: left;
	   padding-bottom: 5px;
	   padding-left: 5px;
   }

.tp-flight-plan .it-1 .flight-seg.origin {
   padding-left: 5px;
}

.tp-flight-plan .it-1 .flight-seg .time {
   font-size: 20px;
   /* color: #232b38; */
   font-weight: 700;
}

.tp-flight-plan .it-1 .flight-seg .port {
   display: inline-block;
   background-color: #f5f5f5;
   padding: 0 25px 0 0;
   font-size: 16px;
   color: #000;
   line-height: 1.2;
}

.tp-flight-plan .it-1 .flight-seg .name {
   font-size: 12px;
   /* color: #000; */
   line-height: 1.2;
}

.tp-flight-plan .it-1 .flight-seg.destination {
   text-align: right;
   padding-right: 15px;
}

.tp-flight-plan .flight-seg.destination .port {
   padding: 0 0 0 25px;
}

.tp-flight-plan .it-1 .airline-image {
   position: absolute;
   bottom: 0;
   width: 100%;
   display: flex;
   padding: 0 20px;
   height: 21px;
}

.tp-flight-plan .it-1 .img-wrapper {
   flex: 1;
   text-align: center;
   position: relative;
}

.tp-flight-plan .it-1 .top-label {
   color: #47cf73;
   font-size: 11px;
}

.tp-flight-plan .it-1 .df-text {
   position: absolute;
   top: -24px;
   left: 50%;
   transform: translate(-50%,-100%);
   font-size: 11px;
   color: #A2A9B3;
   text-align: center;
}

.tp-flight-plan .it-1 .top-label.has-stops {
   color: Red;
}

.tp-flight-plan .it-1 .top-label .stops {
   color: gray;
}

.tp-flight-plan .it-1 .route-dot span {
   position: absolute;
   background-color: #607d8ba3;
   /* background-color: #ff0000a3; */
   top: calc(50% - 4px);
   left: var(--data-left);
   border-radius: 10px;
   padding: 4px;
}

/*Thank u page background sheriyaayilla*/


.thankyou{	
	
	background-image: url("./images/ty.jpg");
  background-position: center;
  
  background-size: cover;
  width: 100%;
	
	
	
		
}

.thankyou-content{	
	justify-content: center;
    width: 100%;
	align-items: center;
    max-width: 450px;
    border: 1px solid #ffffff;
    margin-left: 550px;
    background-color:white;
    box-shadow: 0px 0px 5px 5px;
	
	box-shadow: #f8f7f9;
	margin-top: 250px;
}

.thankyou-content .thanku{
justify-content: center;
text-align: center;
text-decoration: solid;
margin-bottom: 75px;
color: rgb(8, 9, 92);
margin-top: 25px;
}

.thankyou-content .successful{
	justify-content: center;
	text-align: center;
	text-decoration: solid;
	}

.thankyou-content .home button{
    margin-top: 13px;
	margin-left: 190px;
	margin-bottom: 25px;
    padding: 10px;
    height: 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid indigo;
    border-radius: 17px;
    text-align: center;
    padding: 11px;
    box-shadow: 0px 0px 2px 2px #004098;
	background-color:rgb(8, 9, 92);
    color:white;
    padding-top: 5px;
    font-weight: 900;
 }

 .thankyou-content .home button:hover{
  
	background-color: white;
    color: blue;
 }
   
   

