
.booking .input-bx{
	margin-bottom: 20px;
    margin-left: 50px;
}



.booking .input-bx span{
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	display: inline-block;
	font-weight: 300;
	letter-spacing: 1px;
    color: white;
    width: 250px;
}
.booking .input-bx input{
	
	padding: 10px 20px;
    max-width: 350px;
	font-weight: 400;
	border: 1px solid #607d8b;
	font-size: 16px;
	letter-spacing: 1px;
	color: white;
	background: transparent;
	border-radius: 30px;
	border: 1px solid white;
}

.booking .input-bx p span{
	padding: 7px;
	font-size: 12px;
	text-align: center;
}
@media only screen and (max-width: 1024px) {
	.login-bg{
		display: none;
	}
	.input-bx button{
		width: 100%;
	}
}
.booking h2{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	color: white;
}
.booking
{
    /*background-color: #351488;*/
	background-color: white;
    background-size: cover;
    background-position: center;
}
.booking .form-bx
{
    max-width: 500px;
    border: 1px solid #575b60;
    margin: 5% auto 0;
    background-color:#22056d;
    box-shadow: 0px 0px 5px 5px;
	
	box-shadow: #29028d;
	margin-top: 10px 10px;
}

.booking .input-grp
{
    padding: 0 20px 20px;
    font-family: sans-serif;
	font-size: 14px;
	margin: 5px 10px 10px 5px;
	display: inline-block;
	font-weight: 300;
	letter-spacing: 1px;
    color: white;
	margin-left: 30px;
}

.booking .input-grp
{
    width: 250px;
    display: inline-block;
	
}

.booking .select-date::-webkit-inner-spin-button,
.booking .select-date::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
.booking .select-date::-webkit-calender-picker-indicator
{
    background:transparent;
}
.booking .custom-select
{
    color: white;
	background-color: #22056d;
  text-decoration: solid;
    border: 1px solid white;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 10px 10px;
    font-family: sans-serif;
	font-size: 14px;
	margin-left: 20px;
	display: inline-block;
	font-weight: 300;
	letter-spacing: 1px;
      
}
.booking .custom-select option
{
    color: white;
    margin-top: 3px;
}

.booking .input-bx button{
	background:white;
	font-family: sans-serif;
	color:rgb(16, 8, 101);
	border: none;
	box-shadow: white;
	border-radius: 20px;
	font-weight: 900;
	cursor: pointer;
    margin-left: 100px;
	padding: 15px 30px;
	/* margin-left: 0px; */
	width: 30%;
}

.booking .input-bx button:hover{
	background: rgb(74, 74, 188);
	color: white;
}

.booking .form-bx {
    /* Add shadows to create the "card" effect */
    box-shadow: 10px 20px 20px 10px rgba(100, 84, 206, 0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
.booking .form-bx:hover {
    box-shadow: 0 8px 16px 0 rgba(93, 62, 186, 0.2);
  }
  
  /* Add some padding inside the card container */
  