

.FlightStatus .available-flight-section{
    max-width:700px;
    margin-left:10px ;
    /* background-color:  */
   }
   
   

   .available-flight-section button{
    margin-top: 13px;
    padding: 10px;
    height: 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid indigo;
    border-radius: 17px;
    text-align: center;
    padding: 11px;
    box-shadow: 0px 0px 2px 2px #004098;
    background-color: white;
    color: blue;
    padding-top: 5px;
    font-weight: 900;
 }

 .available-flight-section button:hover{
    background-color:rgb(8, 9, 92);
    color:white;
 }
   
   