.header-search{
    height:100px;
    background-color: var(--mainColor);
}
.header-search-form{
    margin-left: 180px;
}
.search-form{
	width : 15%;
	border : none;
	float:left;
	height : 4rem;
	text-align:center;
	outline : none;
	border-radius : 0;
}

.from{
	border-radius : 7px 0 0 7px;
}

.search-form:hover{
	border-bottom : solid #007bff 2px;
}

.search-button{
	width : 15%;
	border: none;
	height : 4rem;
	color : white;
	outline : none;
	border-radius : 0 7px 7px 0;
}
.btn{
    /* background-color: var(--mainColor); */
    color: var(--mainColor);
}

@media only screen and (max-width: 1024px) {
    .header-search{
        visibility: hidden;
    }
}